<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="hcolor">
      <ion-title>Chats</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="addbuddy()">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-buttons> 
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  <ion-list no-lines>
    <ion-list-header>
      Requests
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of myrequests">
      <ion-item>
      <ion-avatar item-left>
        <img src="{{item.photoURL}}">
      </ion-avatar>
      <h4>{{item.displayName}}</h4>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" (click)="accept(item)">
          <ion-icon name="checkmark"></ion-icon>
          ADD
        </button>
        <button ion-button color="danger" (click)="ignore(item)">
          <ion-icon name="trash"></ion-icon>
          NOPE
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-list-header>
      Friends
    </ion-list-header>
    <ion-item *ngFor="let item of myfriends" (click)="buddychat(item)">
      <ion-avatar item-left>
        <img src={{item.photoURL}}>
      </ion-avatar>
      <h3>{{item.displayName}}</h3>
    </ion-item>
  </ion-list>
  </ion-content>